@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h3 align="center">Welcome</h3>
    <p>@Html.ActionLink("Employees", "Index", "Employee")</p>
    <p>@Html.ActionLink("Companies", "Index", "Company")</p>
</div>
